server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: product-service
          uri: http://product-service:8085
          predicates:
            - Path=/api/products/**

        - id: cart-service
          uri: http://cart-service:8084
          predicates:
            - Path=/api/cart/**

        - id: user-service
          uri: http://user-service:8082
          predicates:
            - Path=/api/users/**

        - id: transaction-service
          uri: http://transaction-service:8083
          predicates:
            - Path=/api/transactions/**

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true